.form-group label {
    display: none;
}

div.form-group .form-check-label {
    display: inline-block;
    padding: 0px 5px 0px 0px;
}

.form-custom {
    background-color: rgb(200, 200, 200);
    display: inline-block;
    border: solid 2px;
    padding: 10px;
    margin: 10px;
    border-radius: 0.25rem;
}

.formresult {
    display: block;
    border: solid 2px;
    border-radius: 0.25rem;
    width: fit-content;
    padding: 10px;
    margin: 10px;
    background: linear-gradient(#2de2e6, #f6019d);
}

@counter-style repeating-emoji {
    system: cyclic;
    symbols: "1️⃣" "2️⃣" "3️⃣" "4️⃣" "5️⃣";
    suffix: " ";
  }

#emoji-ul {
    list-style-type: repeating-emoji;

}
